TF_VAR_proxmox_node=<node name>
TF_VAR_proxmox_api_url=https://<node url>:<port>/api2/json
TF_VAR_proxmox_api_token_id=<user>@<realm>!<token name>
TF_VAR_proxmox_api_token_secret=<token secret>
TF_VAR_proxmox_authorized_keys=<authorized key>
K3S_TOKEN=
K3S_URL=
PROXMOX_HOST=<ip / FQDN>
PROXMOX_USER=<user>@<realm>
PROXMOX_TOKEN_ID=<token name>
PROXMOX_TOKEN_SECRET=<token secret>
FORTIGATE_PASSWORD=<password>