TF_VAR_PROXMOX_NODE=<node name>
TF_VAR_PROXMOX_API_URL=https://<node url>:<port>/api2/json
TF_VAR_PROXMOX_API_TOKEN_ID=<user>@<realm>!<token name>
TF_VAR_PROXMOX_API_TOKEN_TOKEN=<token secret>
K3S_TOKEN=
K3S_URL=
PROXMOX_HOST=<ip / FQDN>
PROXMOX_USER=<user>@<realm>
PROXMOX_TOKEN_ID=<token name>
PROXMOX_TOKEN_SECRET=<token secret>
FORTIGATE_PASSWORD=<password>