.env.fortinet
.env.local
.env
.idea
terraform/variables/secrets.tfvars.json
terraform/.terraform
terraform/.terraform.lock.hcl
packer/template-credentials.pkr.hcl
ansible/playbooks/tasks/files/FGT_VM64_KVM-v7.6.6.M-build3652-FORTINET.out.kvm.zip
fortios.qcow2
./ansible/roles/firewall/files/fortigate-v4.6.6.qcow2
./ansible/inventory.yml
./venv
/ansible/files/fortigate-v4.6.6.qcow2
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/venv/
/ansible/files/debian-13-nocloud-amd64.qcow2
/ansible/temp.yml
/error.txt
/proxmoxquickdebian/.terraform.lock.hcl
/proxmoxquickdebian/terraform.tfstate
/proxmoxquickdebian/terraform.tfstate.backup
/quickfortigate/src/vars/secret.pass
/quickfortigate/src/vars/configuration.yml
/quickfortigate/src/vars/inventory.yml
/proxmoxquickdebian/vars/configuration.yml
/proxmoxquickdebian/vars/inventory.yml
/proxmoxquickdebian/vars/secret.pass
/proxmoxquickdebian/.terraform/
/proxmoxquickdebian/files/Fortinet_CA_SSL.cer
/proxmoxquickdebian/files/debian-13-genericcloud-amd64.qcow2
